*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

h1, h2, h3, h4 {
    font-family: Montserrat;
    color: var(--gradient-color);
}

body{
    font-family: Poppins;
    font-size: 16px;
    background-color: black;
    min-height: 100vh;
}